* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100%;
    background-color: white;
}

h1{
    font-family: 'Dangrek', 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 400;
    font-size: 90px;
    padding-top: 40px;
    background: linear-gradient(90deg, #FF8B87 35%, #CA6680 45.24%, #52947C 65.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

section{
    padding-top: 18vh;
    padding-bottom: 18vh;
    line-height: 2em;
    padding-left: 100px;
    font-size: 18px;
}

section > p {
    padding: 2em 2em;
    text-align: justify;
    justify-items: center;
}

section.imagem{
    height: 400px;
    background-color: white;
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.377);

}

section.imagem > p{
    display: inline-block;
    width: 450px;
    background-color: #d57a6698;
    text-shadow: 1px 1px 0px black;
}

section.imagem > p::first-line{
    font-size: 2rem;
    justify-items: center;
    font-family: 'Dangrek', 'Courier New', Courier, monospace;
}

section#img01 {
    background-image: url("./../../../assets/images/closeup-shot-snouts-cute-dog-cat-sitting-cheek-cheek.jpg");
    background-position: right center;
}

section.time #c01{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 107px;
    top: 890px;
    clip-path: circle(50%);
    background: #FD8A87;
}

section.time #c02{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 530px;
    top: 890px;
    clip-path: circle(50%);
    background: #B66E80;
}

section.time #c03{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 970px;
    top: 890px;
    clip-path: circle(50%);
    background: #6AA08D;
}


