.conteiner{ 
    display:grid;
    grid-gap:1.5vw;
    grid-template-columns:78vw;
    justify-content:center;
    justify-items: center;
    padding:5vh;
}
 
section{
    align-items:center;
    border-radius:22px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}

section.first{
    background:url('../../../../assets/images/chien.jpg');
    background-size:cover;
    background-position:center;
}

h1{
    text-align: center; 
    font:2.8125rem 'Nunito',sans-serif;
    color:#CA6680;
    font-style:normal;
    font-weight:400;
    /*
    -webkit-text-stroke-width: 0.16vw;
    -webkit-text-stroke-color:white;
    */
}

h1:hover{
    color:seagreen;
}

span{
    font:1.8125rem 'Nunito',sans-serif;
    text-align: center; 
    color:#FF8B87;
    font-style:normal;
    font-weight:500;
    /*
    -webkit-text-stroke-width: 0.10vw;
    -webkit-text-stroke-color:whitesmoke;
    */
}

.image-cover img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    justify-content:center;
}

p{
    font:1.25rem/2.25rem 'Nunito',sans-serif;
    font-style:bold;
    font-weight:700px;
    font-size:1.25rem;
    text-align:justify;
    padding:3vh;
}
.images img{
    width:50px;
    height:50px;
    margin-left: 10vh;
    transition: 0.3s ease;

}
.images{
    display:flex;
    grid-gap:1.5vw;
    grid-template-rows:5vw;
    justify-content:center;
    text-align:center;
    margin: 5vh;
    padding:5vh;
    
}

.images .coeur img{
    margin-left:0;
}

.images .coeur img:hover{
    cursor:pointer;
    background-image: url('../../../../assets/icons/Coeur-Deux.svg');
}

.images .conv img:hover{
    cursor:pointer;
    background-image: url('../../../../assets/icons/Conv-Deux.svg');
}

.images .env img:hover{
    cursor:pointer;
}
