
.cards {
  padding: 5vw;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  margin: auto;
  animation: alternate;
  transition: 2s;
}

.column {
  padding: 10px;
  justify-content: space-around;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  height: 250px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  place-self: center;
  margin: 0.1rem;
  animation: alternate;
  transition: 0.4s;
}

.column:hover {
  transition-delay: 1s;
  transform: translateY(-20px);
  transition: transform 0.3s ease-out;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.50);
}

.column .col_title {
  font-family: Montserrat;
  font-size: x-large;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 10px;
  margin: auto;
}

.column span {
  font-family: Montserrat;
  font-size: 100%;
  font-weight: 700;
  letter-spacing: 0em;
  margin: auto;
}

.column button {
  margin-top: 1vh;
  padding: 0.8rem;
  width: 90%;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  background: linear-gradient(90deg,#FF8B87 0%,#CA6680 45.24%,#52947C 98.21%);
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
