
.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: alternate;
  transition: 2s;
}

.line {
  position: block;
  width: 90vw;
  height: 0px;
  margin: auto;
  /* left: 72px;
  top: 1522px; */
  border: 2px solid #BFC6C3;
}