
.logo-large {
  margin-top: 5vh;
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
  animation: alternate;
  transition: 2s;
}

.logo-large img {
  width: 50vw;
  margin: auto;
  animation: alternate;
  transition: 2s;
}
