
body {
  margin-top: 95px;
}

/* ? A ESTRUTURA DA NAVBAR */
header nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #D57A66;
  justify-content: space-around;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: alternate;
  transition: 2s;
}

header {
  top: -100px;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 50;
}

header.sticky {
  top: -100px;
  position: fixed;
  transition-delay: 0.5s;
  transform: translateY(100px);
  transition: transform 0.3s ease-out;
  z-index: 10;
}

/* ? A LOGO DA NAVBAR */
#logo-img {
  width: 95px;
  height: 95px;
  display: flex;
}

/* ? PARTE CENTRAL DA NAVBAR */
#menu li {
  display: inline;
  font-size: larger;
  padding: 10px;
  color: aliceblue;
  font-family: 'Dangrek', 'Courier New', Courier, monospace;
  animation: alternate;
  transition: 0.5s;
}

#menu li:hover {
  color: #74EBDD;
  background-color: #db9f92;
}

/* ? A PARTE DO LOGIN DA NAVBAR */
.login-dynamic {
  display: flex;
  align-items: center;
}

.button-login {
  cursor: pointer;
  color: #D57A66;
  font-size: x-large;
  font-family: 'Dangrek', 'Courier New', Courier, monospace;
  padding: 0px 20px;
  background-color: aliceblue;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: alternate;
  transition: 0.4s;
}

.button-login:hover {
  /* opacity: 0.8; */
  color: #D57A66;
  background-color: #74EBDD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-user {
  width: 50px;
  height: 50px;
  margin-left: 1vh;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: aliceblue;
  align-items: center;
  display: flex;
  animation: alternate;
  transition: 0.4s;
}

.icon-user img {
  margin: auto;
}

.icon-user:hover {
  background-color: #74EBDD;
}

#button-menu-mobile {
  display: none;
  cursor: pointer;
}

#button-menu-mobile div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


@media (max-width: 900px) {
  #menu {
    position: absolute;
    display: block;
    top: -470px;
    padding-bottom: 70px;
    padding-top: 30px;
    width: 100%;
    background-color: #D57A66;
    z-index: -9;
  }

  #menu li {
    display: block;
    /* padding: 1vh; */
  }

  #menu ul {
    align-items: center;
    text-align: center;
  }

  .login-dynamic {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 80px; */
    top: -210px;
    z-index: 9;
  }

  #menu.activate-menu {
    top: 22px;
    transition-delay: 1s;
    transform: translateY(70px);
    transition: transform 0.3s ease-out;
  }

  #menu.activate-menu li {
    display: block;
    /* padding: 1vh; */
  }

  #menu.activate-menu ul {
    align-items: center;
    text-align: center;
  }

  .login-dynamic.activate-login {
    top: 285px;
    transition-delay: 1s;
    transform: translateY(40px);
    transition: transform 0.3s ease-out;
  }

  #button-menu-mobile {
    display: block;
  }
}


@media (max-width: 550px) {
  header nav {
    height: 60px;
  }

  #logo-img {
    width: 65px;
    height: 65px;
  }

  #menu.activate-menu {
    top: -20px;
  }

  .login-dynamic.activate-login {
    top: 240px;
  }

  body {
    margin-top: 60px;
  }
}

