* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.corpo{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.conteiner{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: gray;
    font-family: 'Dangrek', 'Courier New', Courier, monospace;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 30px;
    margin: 0;
}

#linha{
    width: 18.7vh;
    border: 1px solid rgba(0,0,0,0.5);
    margin: 2vh;
}

.corpo .title{
    display:flex;
    flex-direction:row;
    padding: 20px;
    align-items: center;
    justify-content: center; 
}

.wrapper{
    padding:2vh;
    width:100%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minimax(250px,1fr));
    grid-gap:30px;
    gap:30px;
}

.wrapper .box input{
    width: 100%;
    position: relative;
    padding: 20px;
    background-color: #bbbbb8fc;
    font-family: Arial;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 8px
}

.wrapper .box label{
    font-family: 'Dangrek';
    font-size: 1.1rem;
    margin-top: 2rem;
    opacity: 0.5;
}

.wrapper .box textarea{
    width: 100%;
    position: relative;
    padding: 20px;
    background-color: #bbbbb8fc;
    font-family: Arial;
    height: 200px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    resize: none;
}

.conteiner input[type="submit"] {
    color: white;
    font-size: 4vh;
    font-family: 'Dangrek', 'Courier New', Courier, monospace;
    background-color:#52947C;
    cursor: pointer;
    margin-top: 2rem;
    border: none;
    border-radius: 20px;
    transition: all .4s ease-in-out;
    opacity: 100%;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.377);
    margin-bottom: 5vh;
    
}



h1{
    font-family: 'Dangrek', 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 400;
    font-size: 90px;
    padding-top: 14rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.imagem{
    height: 450px;
    background-color: white;
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.377);
}

section#img01 {
    background-image: url("./../../../assets/images/cute-little-dog-impersonating-business-person.jpg");
    background-position: center;
}

section.botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
}

section.botoes #b01, section.botoes #b02, section.botoes #b03{
    font-size: 1rem;
    margin-left: 2rem;
    font-family: 'Dangrek', 'Courier New', Courier, monospace;
    width: 400px;
    height: 70px;
    background-color: white;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}