#navbar {
  position: absolute;
  width: 100vw;
  height: 102px;
  left: 0px;
  top: 0px;

  background: #D57A66;
}

#logo {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 226px;
  top: 0px;
}

#menu {
  position: absolute;
  width: 74px;
  height: 70px;
  left: 400px;
  top: 16px;

  font-family: 'Dangrek';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

#navbar li {
  padding: 5px;
}

.button-navbar {
  font-family: 'Dangrek';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(213, 122, 102, 1);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;

  position: absolute;
  width: 151px;
  height: 53px;
  left: 1000px;
  top: 15px;

  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
