*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.mon-conteiner{
    width:100%;
    height:100%;
    display:grid;
    grid-template-areas: "a i";
    grid-template-columns: 01fr 3fr;
    grid-template-rows: 4fr;
    transition: 0.3s;
}

.conteiner-info-animaux{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#63A375;
    grid-area:a;
    font-family:'Concert One';
    text-transform:uppercase;
}

.conteiner-info-animaux>p{
    padding: 4px;
    color:white;
}

.conteiner-more-information{
    display:flex;
    flex-direction:column;
    padding: 4px; 
    background-color:white;
    grid-area:i;
}

.conteiner-info-animaux .image{
    padding:4px;
    margin:16px;
    background: url('../../../assets/images/Un-Chat-Noir-Jolie.png');
    border-radius:50%;
    background-color: white;
    width:15.75rem/*252px*/;
    height:15.75rem;
    background-size:cover;
    background-position:center;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.conteiner-more-information>p{
    padding:4vh;
    margin:4vh;
    font-weight:300;
    font-family:'Concert One';
    line-height:1.3rem;
    text-align:justify;
    color:gray;
}

.conteiner-more-information>h1{
    text-align: center;
    padding:3vh;
    margin:3vh;
    font-size:3rem;
    color: black;
    font-weight: 300;
    font-family:'Concert One';
}

.conteiner-more-information .butoes{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.butoes>button{
    padding:18px 18px;
    align-self: center;
    width:150px;
    height:50px;
    margin-top:0px;
    margin-bottom:100px;
    margin-left:105px;
    font-size:18px;
    font-family:'Concert One';
    color:black;
    background:linear-gradient(0deg, #E5F6F0, #E5F6F0);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius:30px;
    text-transform:uppercase;
    text-align: center;
}

.butoes>button:first-child{
    margin-left:0px;
}

.butoes>button:hover{
    background:linear-gradient(0deg,#63A375,#3b9c56);
    color:white;
}

@media (max-width:650px){
    .mon-conteiner{
        width:100%;
        height:100%;
        display:grid;
        grid-template-areas: "a a" "i i";
        grid-template-columns:1fr;
        grid-template-rows:1fr;
    } 
}